* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: black;
  font-family: "Roboto", "arial", sans-serif;
}
.app {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}
.app h1 {
  text-align: center;
}
.todolist {
  margin: 0.5rem;
}
.todolist h3 {
  text-align: center;
}
.form {
  display: block;
}
.form__input {
  margin: 0.5rem;
  padding: 0.5rem;
}
.form__button {
  background-color: beige;
  border: 1px solid transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem;
  padding: 0.7rem;
}
.form__button.isNotAvailable {
  background-color: transparent;
  border: 2px solid lightgray;
}
.todo__item {
  align-items: center;
  background-color: beige;
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
}
.todo__item.isdone {
  background-color: transparent;
  border: 2px solid lightgray;
}
.todo__text {
  display: grid;
  text-align: left;
  width: 100%;
}
.todo__datepicker {
  background-color: beige;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
}
.Todo_button {
  cursor: pointer;
}
